<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.odaridavid.designpatterns">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".facade.FacadeActivity"
            android:label="@string/title_facade"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".decorator.DecoratorActivity"
            android:label="@string/title_decorator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".composite.CompositeActivity"
            android:label="@string/title_composite"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bridge.BridgeActivity"
            android:label="@string/title_bridge"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".adapter.AdapterActivity"
            android:label="@string/title_adapter"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".singleton.SingletonActivity"
            android:label="@string/title_singleton"
            android:parentActivityName=".singleton.SingletonActivity" />
        <activity
            android:name=".prototype.PrototypeActivity"
            android:label="@string/title_prototype"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".builder.BuilderActivity"
            android:label="@string/title_builder"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".factory.FactoryActivity"
            android:label="@string/title_factory"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".abstractfactory.AbstractFactoryActivity"
            android:label="@string/title_abstract_factory"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>